.body{
    box-sizing: border-box;
    background-color: rgb(248, 246, 241);
}
.navbar{
    height: 50px;
    border: 1px;
    background-color: black ;
    justify-content: space-between;
    align-items: center;
    display: flex;

}
.navbar p{
    text-align: center   ;
    color: white ;
    font-size: 30px;

}
.navbar a{
    text-decoration: none;  
    font-size: 20px;
    
    color: rgb(242, 237, 237);;
}
.navbar ul{
    
    list-style: none;
    text-align: right;
    text-align: top ;

}
.navbar li{
    display: inline-block;
    
}
.navbar img{
    width: 75px;
    height:50px;

    
}
.titre{
    text-align: center;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: darkviolet;     
}   
.img1{
    text-align:center;
    height: fit-content;
    width: auto ; 
       
}

.fonctions li    {
    list-style: none;
    text-align:center;
    font-size: 85px ;
    text-decoration:none ;
    margin-top: 60px;
    font-weight: bold;
}
.Son{
    text-align: center;
}
.Son h1 {
    text-align: center;
    margin-top:300px;
    font-size:40px;
}

.Son h2{
    text-align: center;
    font-size: 100px;
    color: rgb(92, 9, 169);
    margin-top: 5px;
}

.Son img{
    margin-top: 10px;
    height: 620px;
    width: auto;
}
.Son p {
    color: gray;
    font-size: 35px;
    text-align: center ;
    margin-left: 250px;
    margin-right: 250px;

}

.ok {
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-top: 300px;
}

.ok p{
    font-size: 35px;
    color: grey;
    margin-left: 250px;
    margin-right: 250px;

}
.ok img{
    height: 600px;
    width:auto ;
}
.couleur{
    color: black;
}
.prix{
    text-align: center;
    font-size: 60px;
    margin-top: 200px;
}

